@import '../webbiz/style.css';
/*=====================
    General Styles
=====================*/
html {
    font-size: 14px;
    @include break(768px) {
        font-size: 16px;
    }
}
body {
    background: $white;
    color: $black;
    font-family: $mainFont;
}
main {
    background: $white;
    margin-bottom: -1px;
}
a, a:hover, a:focus {
    text-decoration: none;
}
* {

    &:focus {
        outline: none;
    }
}
p {
    letter-spacing: 0.05rem;
    font-weight: 400;
    @include font-sl(0.875rem, 1.75rem);
}
@for $item from 1 through length($headerSize) {
    h#{$item} {
        font-size: nth($headerSize, $item);
        line-height: nth($headerSize, $item)*1.5;
        font-family: $titleFont;
        text-transform: uppercase;
        letter-spacing: -0.005rem ;
        }
}
input[type]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
strong {
    font-weight: 700;
}