form {
	* {
		border-radius: 0;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			&.gform_validation_container {
			    display: none!important;
			    position: absolute!important;
			    left: -9000px;
			}
		}
	}
	label {
		display: none;
	}
	input, textarea, select {
		border: 2px solid lighten($black, 50);
		border-radius: 0;
		font-weight: 600;
		line-height: 1.5rem;
		margin-bottom: 1rem;
		padding: 1.5rem 2rem;
		text-transform: uppercase;
		width: 100%;
		@include placeholder {
			color: $black;
		}
		&:focus {
			border: 2px solid $black;
		}
	}
	input {
		&[type=submit] {
			background: green;
			border: none;
			text-align: left;
			@include transition(color 0.3s ease-in-out, background 0.3s ease-in-out);
			&:hover, &:focus {
				background: $black;
				color: green;
			}
		}
		&[type="checkbox"] {
			width: 20px;
		}
	}
	textarea {
		height: 200px;
		min-height: 200px;
	}
	select {
		-webkit-appearance: none;
	}
}