@mixin break($args...) {
	@if length($args) == 1 {
		@media (min-width: nth($args,  1)) {
			@content; 
		}
	} @else {
		@media (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
			@content; 
		}
	}
}
/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

// Font Size / Line height  
@mixin font-sl($size, $line-height, $font: $mainFont) {
   font: #{$size}/#{$line-height} $font;
}


// Placeholder Text
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


