// Font
$mainFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titleFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// Header Sizes
$headerSize: 2.5rem, 2.188rem,1.875rem, 1.563rem, 1.25rem, 1.125rem;
// Colors
$white: #ffffff;
$black: #000000;