/*
Theme Name: Theme Name
Template: Webbiz
Author: Jason Morton
Author URI: https://webbiz.ie
Version: 2.0
Text Domain: theme-name
*/
/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
@import url(../webbiz/style.css);
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, ../scss/hamburgers/_base.scss */
.hamburger {
  padding: 15px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  position: relative;
  z-index: 2000;
}
/* line 23, ../scss/hamburgers/_base.scss */
.hamburger:hover {
  opacity: 0.7;
}

/* line 33, ../scss/hamburgers/_base.scss */
.hamburger-box {
  width: 40px;
  height: 25px;
  display: inline-block;
  position: relative;
}

/* line 40, ../scss/hamburgers/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
/* line 45, ../scss/hamburgers/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
/* line 58, ../scss/hamburgers/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 64, ../scss/hamburgers/_base.scss */
.hamburger-inner::before {
  top: -11px;
}
/* line 68, ../scss/hamburgers/_base.scss */
.hamburger-inner::after {
  bottom: -11px;
}

/*
 * 3DX
 */
/* line 6, ../scss/hamburgers/types/_3dx.scss */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}
/* line 10, ../scss/hamburgers/types/_3dx.scss */
.hamburger--3dx .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 14, ../scss/hamburgers/types/_3dx.scss */
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 21, ../scss/hamburgers/types/_3dx.scss */
.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg);
}
/* line 25, ../scss/hamburgers/types/_3dx.scss */
.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 11px, 0) rotate(45deg);
}
/* line 29, ../scss/hamburgers/types/_3dx.scss */
.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -11px, 0) rotate(-45deg);
}

/*
 * 3DX Reverse
 */
/* line 6, ../scss/hamburgers/types/_3dx-r.scss */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}
/* line 10, ../scss/hamburgers/types/_3dx-r.scss */
.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 14, ../scss/hamburgers/types/_3dx-r.scss */
.hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 21, ../scss/hamburgers/types/_3dx-r.scss */
.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg);
}
/* line 25, ../scss/hamburgers/types/_3dx-r.scss */
.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 11px, 0) rotate(45deg);
}
/* line 29, ../scss/hamburgers/types/_3dx-r.scss */
.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -11px, 0) rotate(-45deg);
}

/*
 * 3DY
 */
/* line 6, ../scss/hamburgers/types/_3dy.scss */
.hamburger--3dy .hamburger-box {
  perspective: 80px;
}
/* line 10, ../scss/hamburgers/types/_3dy.scss */
.hamburger--3dy .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 14, ../scss/hamburgers/types/_3dy.scss */
.hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 21, ../scss/hamburgers/types/_3dy.scss */
.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg);
}
/* line 25, ../scss/hamburgers/types/_3dy.scss */
.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 11px, 0) rotate(45deg);
}
/* line 29, ../scss/hamburgers/types/_3dy.scss */
.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -11px, 0) rotate(-45deg);
}

/*
 * 3DY Reverse
 */
/* line 6, ../scss/hamburgers/types/_3dy-r.scss */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}
/* line 10, ../scss/hamburgers/types/_3dy-r.scss */
.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 14, ../scss/hamburgers/types/_3dy-r.scss */
.hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 21, ../scss/hamburgers/types/_3dy-r.scss */
.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg);
}
/* line 25, ../scss/hamburgers/types/_3dy-r.scss */
.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 11px, 0) rotate(45deg);
}
/* line 29, ../scss/hamburgers/types/_3dy-r.scss */
.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -11px, 0) rotate(-45deg);
}

/*
 * Arrow
 */
/* line 7, ../scss/hamburgers/types/_arrow.scss */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
/* line 11, ../scss/hamburgers/types/_arrow.scss */
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
 * Arrow Right
 */
/* line 7, ../scss/hamburgers/types/_arrow-r.scss */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
/* line 11, ../scss/hamburgers/types/_arrow-r.scss */
.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
 * Arrow Alt
 */
/* line 7, ../scss/hamburgers/types/_arrowalt.scss */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 12, ../scss/hamburgers/types/_arrowalt.scss */
.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 20, ../scss/hamburgers/types/_arrowalt.scss */
.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
/* line 27, ../scss/hamburgers/types/_arrowalt.scss */
.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
 * Arrow Alt Right
 */
/* line 7, ../scss/hamburgers/types/_arrowalt-r.scss */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 12, ../scss/hamburgers/types/_arrowalt-r.scss */
.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 20, ../scss/hamburgers/types/_arrowalt-r.scss */
.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
/* line 27, ../scss/hamburgers/types/_arrowalt-r.scss */
.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
 * Boring
 */
/* line 7, ../scss/hamburgers/types/_boring.scss */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}
/* line 15, ../scss/hamburgers/types/_boring.scss */
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}
/* line 18, ../scss/hamburgers/types/_boring.scss */
.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
/* line 23, ../scss/hamburgers/types/_boring.scss */
.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
 * Collapse
 */
/* line 6, ../scss/hamburgers/types/_collapse.scss */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 13, ../scss/hamburgers/types/_collapse.scss */
.hamburger--collapse .hamburger-inner::after {
  top: -22px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
/* line 19, ../scss/hamburgers/types/_collapse.scss */
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 26, ../scss/hamburgers/types/_collapse.scss */
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -11px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 31, ../scss/hamburgers/types/_collapse.scss */
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
/* line 38, ../scss/hamburgers/types/_collapse.scss */
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Collapse Reverse
 */
/* line 6, ../scss/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 13, ../scss/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r .hamburger-inner::after {
  top: -22px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
/* line 19, ../scss/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 26, ../scss/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -11px, 0) rotate(45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 31, ../scss/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
/* line 38, ../scss/hamburgers/types/_collapse-r.scss */
.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Elastic
 */
/* line 6, ../scss/hamburgers/types/_elastic.scss */
.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 11, ../scss/hamburgers/types/_elastic.scss */
.hamburger--elastic .hamburger-inner::before {
  top: 11px;
  transition: opacity 0.15s 0.4s ease;
}
/* line 16, ../scss/hamburgers/types/_elastic.scss */
.hamburger--elastic .hamburger-inner::after {
  top: 22px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 23, ../scss/hamburgers/types/_elastic.scss */
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 11px, 0) rotate(135deg);
  transition-delay: 0.1s;
}
/* line 29, ../scss/hamburgers/types/_elastic.scss */
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
/* line 34, ../scss/hamburgers/types/_elastic.scss */
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -22px, 0) rotate(-270deg);
  transition-delay: 0.1s;
}

/*
 * Elastic Reverse
 */
/* line 6, ../scss/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r .hamburger-inner {
  top: 1.5px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 11, ../scss/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r .hamburger-inner::before {
  top: 11px;
  transition: opacity 0.15s 0.4s ease;
}
/* line 16, ../scss/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r .hamburger-inner::after {
  top: 22px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 23, ../scss/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 11px, 0) rotate(-135deg);
  transition-delay: 0.1s;
}
/* line 29, ../scss/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
/* line 34, ../scss/hamburgers/types/_elastic-r.scss */
.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -22px, 0) rotate(270deg);
  transition-delay: 0.1s;
}

/*
 * Emphatic
 */
/* line 5, ../scss/hamburgers/types/_emphatic.scss */
.hamburger--emphatic {
  overflow: hidden;
}
/* line 8, ../scss/hamburgers/types/_emphatic.scss */
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.2s 0.25s ease-in;
}
/* line 11, ../scss/hamburgers/types/_emphatic.scss */
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
}
/* line 18, ../scss/hamburgers/types/_emphatic.scss */
.hamburger--emphatic .hamburger-inner::after {
  top: 11px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
}
/* line 28, ../scss/hamburgers/types/_emphatic.scss */
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
/* line 33, ../scss/hamburgers/types/_emphatic.scss */
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* line 42, ../scss/hamburgers/types/_emphatic.scss */
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
 * Emphatic Reverse
 */
/* line 5, ../scss/hamburgers/types/_emphatic-r.scss */
.hamburger--emphatic-r {
  overflow: hidden;
}
/* line 8, ../scss/hamburgers/types/_emphatic-r.scss */
.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.2s 0.25s ease-in;
}
/* line 11, ../scss/hamburgers/types/_emphatic-r.scss */
.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
}
/* line 18, ../scss/hamburgers/types/_emphatic-r.scss */
.hamburger--emphatic-r .hamburger-inner::after {
  top: 11px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
}
/* line 28, ../scss/hamburgers/types/_emphatic-r.scss */
.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
/* line 33, ../scss/hamburgers/types/_emphatic-r.scss */
.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* line 42, ../scss/hamburgers/types/_emphatic-r.scss */
.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
 * Slider
 */
/* line 6, ../scss/hamburgers/types/_slider.scss */
.hamburger--slider .hamburger-inner {
  top: 1.5px;
}
/* line 9, ../scss/hamburgers/types/_slider.scss */
.hamburger--slider .hamburger-inner::before {
  top: 11px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
/* line 16, ../scss/hamburgers/types/_slider.scss */
.hamburger--slider .hamburger-inner::after {
  top: 22px;
}
/* line 22, ../scss/hamburgers/types/_slider.scss */
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 11px, 0) rotate(45deg);
}
/* line 27, ../scss/hamburgers/types/_slider.scss */
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -8px, 0);
  opacity: 0;
}
/* line 32, ../scss/hamburgers/types/_slider.scss */
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -22px, 0) rotate(-90deg);
}

/*
 * Slider Reverse
 */
/* line 6, ../scss/hamburgers/types/_slider-r.scss */
.hamburger--slider-r .hamburger-inner {
  top: 1.5px;
}
/* line 9, ../scss/hamburgers/types/_slider-r.scss */
.hamburger--slider-r .hamburger-inner::before {
  top: 11px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
/* line 16, ../scss/hamburgers/types/_slider-r.scss */
.hamburger--slider-r .hamburger-inner::after {
  top: 22px;
}
/* line 22, ../scss/hamburgers/types/_slider-r.scss */
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 11px, 0) rotate(-45deg);
}
/* line 27, ../scss/hamburgers/types/_slider-r.scss */
.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -8px, 0);
  opacity: 0;
}
/* line 32, ../scss/hamburgers/types/_slider-r.scss */
.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -22px, 0) rotate(90deg);
}

/*
 * Spring
 */
/* line 6, ../scss/hamburgers/types/_spring.scss */
.hamburger--spring .hamburger-inner {
  top: 1.5px;
  transition: background-color 0s 0.15s linear;
}
/* line 10, ../scss/hamburgers/types/_spring.scss */
.hamburger--spring .hamburger-inner::before {
  top: 11px;
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 16, ../scss/hamburgers/types/_spring.scss */
.hamburger--spring .hamburger-inner::after {
  top: 22px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 24, ../scss/hamburgers/types/_spring.scss */
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.32s;
  background-color: transparent;
}
/* line 28, ../scss/hamburgers/types/_spring.scss */
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 11px, 0) rotate(45deg);
}
/* line 35, ../scss/hamburgers/types/_spring.scss */
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 11px, 0) rotate(-45deg);
}

/*
 * Spring Reverse
 */
/* line 6, ../scss/hamburgers/types/_spring-r.scss */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 13, ../scss/hamburgers/types/_spring-r.scss */
.hamburger--spring-r .hamburger-inner::after {
  top: -22px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}
/* line 19, ../scss/hamburgers/types/_spring-r.scss */
.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 26, ../scss/hamburgers/types/_spring-r.scss */
.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -11px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 31, ../scss/hamburgers/types/_spring-r.scss */
.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.32s linear;
}
/* line 38, ../scss/hamburgers/types/_spring-r.scss */
.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Stand
 */
/* line 6, ../scss/hamburgers/types/_stand.scss */
.hamburger--stand .hamburger-inner {
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
}
/* line 10, ../scss/hamburgers/types/_stand.scss */
.hamburger--stand .hamburger-inner::before {
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 15, ../scss/hamburgers/types/_stand.scss */
.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 22, ../scss/hamburgers/types/_stand.scss */
.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
}
/* line 29, ../scss/hamburgers/types/_stand.scss */
.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 36, ../scss/hamburgers/types/_stand.scss */
.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Stand Reverse
 */
/* line 6, ../scss/hamburgers/types/_stand-r.scss */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
}
/* line 10, ../scss/hamburgers/types/_stand-r.scss */
.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 15, ../scss/hamburgers/types/_stand-r.scss */
.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 22, ../scss/hamburgers/types/_stand-r.scss */
.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
}
/* line 29, ../scss/hamburgers/types/_stand-r.scss */
.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 36, ../scss/hamburgers/types/_stand-r.scss */
.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Spin
 */
/* line 6, ../scss/hamburgers/types/_spin.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 10, ../scss/hamburgers/types/_spin.scss */
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
/* line 15, ../scss/hamburgers/types/_spin.scss */
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 22, ../scss/hamburgers/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 27, ../scss/hamburgers/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
/* line 34, ../scss/hamburgers/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Spin Reverse
 */
/* line 6, ../scss/hamburgers/types/_spin-r.scss */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 10, ../scss/hamburgers/types/_spin-r.scss */
.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
/* line 15, ../scss/hamburgers/types/_spin-r.scss */
.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 22, ../scss/hamburgers/types/_spin-r.scss */
.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 27, ../scss/hamburgers/types/_spin-r.scss */
.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
/* line 34, ../scss/hamburgers/types/_spin-r.scss */
.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Squeeze
 */
/* line 6, ../scss/hamburgers/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 10, ../scss/hamburgers/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
/* line 15, ../scss/hamburgers/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 22, ../scss/hamburgers/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 27, ../scss/hamburgers/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
/* line 34, ../scss/hamburgers/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Vortex
 */
/* line 6, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 10, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
/* line 17, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
/* line 21, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
/* line 27, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 31, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
/* line 36, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
/* line 41, ../scss/hamburgers/types/_vortex.scss */
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
 * Vortex Reverse
 */
/* line 6, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 10, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
/* line 17, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}
/* line 21, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}
/* line 27, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 31, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
/* line 36, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
/* line 41, ../scss/hamburgers/types/_vortex-r.scss */
.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*=====================
    General Styles
=====================*/
/* line 5, ../scss/_base.scss */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  /* line 5, ../scss/_base.scss */
  html {
    font-size: 16px;
  }
}

/* line 11, ../scss/_base.scss */
body {
  background: #ffffff;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 16, ../scss/_base.scss */
main {
  background: #ffffff;
  margin-bottom: -1px;
}

/* line 20, ../scss/_base.scss */
a, a:hover, a:focus {
  text-decoration: none;
}

/* line 25, ../scss/_base.scss */
*:focus {
  outline: none;
}

/* line 29, ../scss/_base.scss */
p {
  letter-spacing: 0.05rem;
  font-weight: 400;
  font: 0.875rem/1.75rem "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 35, ../scss/_base.scss */
h1 {
  font-size: 2.5rem;
  line-height: 3.75rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.005rem;
}

/* line 35, ../scss/_base.scss */
h2 {
  font-size: 2.188rem;
  line-height: 3.282rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.005rem;
}

/* line 35, ../scss/_base.scss */
h3 {
  font-size: 1.875rem;
  line-height: 2.8125rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.005rem;
}

/* line 35, ../scss/_base.scss */
h4 {
  font-size: 1.563rem;
  line-height: 2.3445rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.005rem;
}

/* line 35, ../scss/_base.scss */
h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.005rem;
}

/* line 35, ../scss/_base.scss */
h6 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.005rem;
}

/* line 43, ../scss/_base.scss */
input[type] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* line 49, ../scss/_base.scss */
strong {
  font-weight: 700;
}
