/*
Theme Name: Webbiz
Theme URI: https://webbiz.ie
Author: Jason Morton
Author URI: https://webbiz.ie
Version: 2.0
License: This is theme is subject to copy-write by the Webbiz brand.
License URI: https://webbiz.ie
Text Domain: webbiz
*/
/*@import 'css/resets.min.css';*/
/*=====================
    General Styles
=====================*/
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
body {
    background: #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.625rem 0;
  letter-spacing: 0.125rem; /* 2px */
}
h1 {
  font-size: 1.875rem; /* 30px */
}
h2 {
  font-size: 1.625rem; /* 26px */
}
h3 {
  font-size: 1.375rem; /* 22px */
}
h4 {
  font-size: 1.25rem; /* 20px */
}
h5, h6 {
  font-size: 1.125rem; /* 18px */
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    margin: 0.5rem 0;
}
.wraper {
    padding: 0;
    height: 100%;
}
.show-menu {
    display: flex !important;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
}
.no-pad-no-mar-right {
   padding-right: 0 !important;
   margin-right: 0 !important;
}
.no-pad-no-mar-left {
   padding-left: 0 !important;
   margin-left: 0 !important;
}
.no-pad-no-mar-top {
   padding-top: 0 !important;
   margin-top: 0 !important;
}
.no-pad-no-mar-bottom {
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
}
.no-pad-no-mar {
    margin: 0;
    padding: 0;
}
.no-pad-l {
  padding-left: 0;
}
.no-pad-r {
  padding-right: 0;
}
.no-pad-l-r {
  padding-left: 0;
  padding-right: 0;
}
.no-pad {
    padding: 0;
}
.no-mar {
    margin: 0;
}
.pad-l {
  padding-left: 15px;
}
.pad-r {
  padding-right: 15px;
}
.mar-l {
  margin-left: 15px;
}
.mar-r{
  margin-right: 15px;
}
.center {
    text-align: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
iframe {
    width: 100%;
    height: auto;
}
.navbar-transparent {
  background: transparent;
}
/*=====================
    MEDIA QUERIES
=====================*/
@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */

}
@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    
}
@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
   
}
@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
   
}
@media (min-width:1025px) {
     /* big landscape tablets, laptops, and desktops */
   
}
     
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    
}